<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Teacher Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- jQuery, Popper.js, and Bootstrap JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/loginPage.css' %}">
<style>
body {
  background-image: url("{% static 'img/classroom.png' %}");
  background-size: 1200px 800px; /* Replace with the pixel values that work for you */
  background-position: center center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.logo-img {
	max-height: 50px;
}

</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<img src="{% static 'img/logo.png' %}" alt="" class="logo-img">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav mr-auto">
		  </ul>
		  <ul class="navbar-nav">
			<li class="nav-item">
				<button onclick="navigateTo()" type="button" class="btn btn-outline-secondary my-2 my-sm-0 mr-3" >
					Student
				</button>
			</li>
		  </ul>
		</div>
	  </nav>
	  
	<div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="studentModalLabel">Confirmation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
				Are you sure you want to navigate to the student login page?
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="/studentlogin">Proceed</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<h1 class="move-in">Welcome to the Teacher's Lounge!</h1>
		<form id="admin_key_submit"> 
			{% csrf_token %}
			<div style="color: whitesmoke; text-align: center;" class="form-group">
			  <label for="admin_key">ADMIN KEY</label>
			  <input type="password" id="admin_key" name="admin_key" required>
			</div>
			<div class="form-group" style="text-align: center;">
			  <input type="submit" onclick="SubmitAdminKey()" value="LOGIN">
			</div>
			<div id="error-message"></div>
		  </form>
		  
		  <div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content1">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">User Login</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="noButton()">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  
			  <form id="new_admin_name">
				{% csrf_token %}
				{% if admins %}
				<select class="form-select mb-3 mt-2" aria-label="Default select example" name="existing_user" onchange="handleSelectChange(this)">
				  {% for item in admins %}
				  <option value="{{item.username}}">{{ item.username }}</option>
				  {% endfor %}
				  <option value="add-new-user">Add New</option>
				</select>
				<div id="existing-user-section" style="display: block;">
				  <label style="color: #080101; text-align: center;" for="password">Password:</label>
				  <input style="margin-bottom: 1rem;" type="password" id="password" name="password_existing" required class="form-control">
				  <div class="text-center">
					<button class="btn btn-primary" id="close-modal" onclick="SubmitAdminName(1)">Login</button>
				  </div>
				</div>
				<div id="new-user-section" style="display: none;">
				  <label style="color: #080101;" for="new_user">Type Your Name:</label>
				  <input type="text" id="new_user" name="new_user" required class="form-control mb-3">
				  <label style="color: #080101;" for="password">Password:</label>
				  <input type="password" id="password" name="password" required class="form-control mb-3">
				  <label style="color: #080101;" for="password1">Type Your Password Again:</label>
				  <input style="margin-bottom: 1rem;" type="password" id="password1" name="password1" required class="form-control mb-3">
				  <button class="btn btn-primary" id="close-modal" onclick="SubmitAdminName(2)">Register</button>
				</div>
				{% else %}
				<div>
				  <label style="color: #080101;" for="new_user">Type Your Name:</label>
				  <input type="text" id="new_user" name="new_user" required class="form-control mb-3">
				  <label style="color: #080101;" for="password">Password:</label>
				  <input type="password" id="password" name="password" required class="form-control mb-3">
				  <label style="color: #080101;" for="password1">Type Your Password Again:</label>
				  <input style="margin-bottom: 1rem;" type="password" id="password1" name="password1" required class="form-control mb-3">
				  {% if messages %}
				  <p class="messages">
					{% for message in messages %}
					<p style="color: red; text-align: center; font-weight: bold;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message.message }}</p>
					{% endfor %}
				  </p>
				  {% endif %}
				  <button class="btn btn-primary" id="close-modal" onclick="SubmitAdminName(2)">Register</button>
				</div>
				{% endif %}
			  </form>
			</div>
		  </div>
		  
	
		</div>
	</div>
</body>
</html>


<script>

	function navigateTo() {
		window.location.href = "/studentlogin";
	}


	function handleSelectChange(selectElement) {
		const selectedOption = selectElement.value;
		const newUserSection = document.getElementById("new-user-section");
		const existingUserSection = document.getElementById("existing-user-section");

		if (selectedOption === "add-new-user") {
			newUserSection.style.display = "block";
			existingUserSection.style.display = "none";


		} else {
			newUserSection.style.display = "none";
			existingUserSection.style.display = "block";

		}
	}

	var closeModalBtn = document.getElementById("close-modal");
		closeModalBtn.addEventListener("click", function() {
		var modalContainer = document.querySelector(".modal");
		modalContainer.style.display = "none";
	});
	var modal = document.getElementById("myModal");
	
	// When the user clicks anywhere outside of the modal, close it
	function noButton() {
		modal.style.display = "none";
		event.preventDefault()
	}

	const adminKeyInput = document.getElementById('admin_key');
	adminKeyInput.addEventListener('keydown', function(event) {
		if (event.key === 'Enter') {
			event.preventDefault();
			var myForm = document.querySelector('#admin_key_submit');
			var formData = new FormData(myForm);
			fetch('', {
				method: 'POST',
				body: formData
			}).then(response => response.json())
			.then(data => {
				var jsResponse = data.adminKeyVerify;
				checkResponse(jsResponse)
				});
		}
	});

	function SubmitAdminKey() {
		event.preventDefault();
		var myForm = document.querySelector('#admin_key_submit');
		var formData = new FormData(myForm);
		fetch('', {
			method: 'POST',
			body: formData
		}).then(response => response.json())
		.then(data => {
			var jsResponse = data.adminKeyVerify;
			checkResponse(jsResponse)
		});
	}

	function SubmitAdminName(num) {
		event.preventDefault();
		var myForm = document.querySelector('#new_admin_name');
		var formData = new FormData(myForm);
		if (num == 2) {
			formData.append('new_user_hidden', 'new');
		}
		fetch('', {
			method: 'POST',
			body: formData
		}).then(function(response) {
			if (num == 1) {
				window.location.href = window.location.origin + "/dashboard";
			} else if (num == 2) {
				swal({
					title: "Successfully Registered!",
					text: "Reload the page to Login",
					icon: "success",
					buttons: {
						login: {
							text: "Ok",
							value: "login",
							className: "btn btn-primary",
						}
					}
				}).then((value) => {
					if (value === "login") {
						location.reload()	
					}
				});
			}
		});
		}

	function checkResponse(response) {
		const errorMessage = new Error("Incorrect Admin Key!");
			// get the error message element
		const errorMessageElement = document.getElementById("error-message");
		if (response) {
			errorMessageElement.innerHTML = "";
			modal.style.display = "block";
		}
		else {
			const errorMessage = new Error("Incorrect Admin Key!");
			// get the error message element
			const errorMessageElement = document.getElementById("error-message");

			// set the content of the error message element
			errorMessageElement.innerHTML = `<p>${errorMessage.message}</p>`;
		}
	}

</script>