<!DOCTYPE html>
<html>
  <head>
	{% load static %}
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PicDentify</title>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/canvas-confetti.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script src=//cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js> </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JK"
      crossorigin="anonymous" />
   <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}?v=3">


      <link rel="stylesheet" type="text/css" href="{% static 'css/studentActivity.css' %}">

      <style>

    .column {
      flex: 1; /* Allow width to adjust based on content */
      height: 450px; /* Set a fixed height for the columns */
      padding: 10px;
      text-align: center;
      background-color: #ffffff;
      border: 3px solid #cccccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    @media only screen and (max-width: 600px) {
      .modal {
        width: 100%;
      }

      .modal-content {
        max-width: 90%;
        margin: 0 auto; /* Center the modal content horizontally */
        padding: 0 20px; /* Apply padding to the left and right sides */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
        background-color: #ffffff; /* Set a background color */
        border-radius: 10px; /* Add rounded corners */
      }
    }


      </style>

  </head>
  <body>
  <form id="hidden-value" method="post">
    {% csrf_token %}

  </form>
  {% if answered %}
  <div class="quiz-container">
	  <div id="level-container">
		<label>Level:</label>
		<span id="level">{{questions.difficulty_name}}</span>
	  </div>
	  <div id="question-info-container">
		<p id="question-counter"> {{questions.topic.topic_name}} </p>
		<div id="timer-container">
		  <p id="time-remaining">Question {{start_index}} of {{length}}</p>
		</div>
	  </div>
	  <div id="question-container">
		{% if img_url != "no image" %}
			<img id="image" src={{img_url}}>
      <img id="image1" src="{{img_url2}}" >
		{% else %}
			<img id="image" src="{% static 'img/no_internet.png' %}">
		{% endif %}

    <div id="myModal" class="modal1">
      <div class="modal-content1">
        <p>Congratulations!<br>Your score is:<br>{{ questions.score }}/{{ questions.maxpoints }}</p>
        <div class="modal-footer1">
          <button class="btn1" onclick="navigateTo()">Back to Dashboard</button>
        </div>
      </div>
    </div>

    <div id="myModal1" class="modal1">
      <div class="modal-content1">
        <button class="btn1" onclick="showModal()">View Score</button>
        <div class="modal-footer1">
        </div>
      </div>
    </div>

    </div>
	</div>
  {% else %}
  <form method="post" id="nextQuestion">
    {% csrf_token %}
  </form>
  {% if questions.topic.topic_name != "Homographs" and questions.topic.topic_name != "Hyponyms" %}
	<div class="quiz-container">
	  <div id="level-container">
		<label>Level:</label>
		<span id="level">{{questions.difficulty_name}}</span>
	  </div>
	  <div id="question-info-container">
		<p id="question-counter">  {{questions.topic.topic_name}} </p>
		<div id="timer-container">
		  <p id="time-remaining">Question {{start_index}} of {{length}}</p>
      <span id="score">Points: {{questions.score}}/{{questions.maxpoints}}</span>
		</div>
	  </div>
	  <div id="question-container">
		{% if img_url != "no image" %}
    <div class="container">
      <div class="column">
        <img id="image" src="{{img_url}}" >
        <img id="checkmark" class="checkmark" src="{% static 'img/check.png' %}">
        <img id="exmark" class="exmark" src="{% static 'img/ex.png' %}">
        <div id="choices-container">
          <form id="checkAnswer">
            {% csrf_token %}
            {% for choice in choices %}
                <button class="choice-btn" value="{{choice}}">{{choice}}</button>
            {% endfor %}
          </form>

          </div>
      </div>
      <div class="column">
        <img id="image1" src="{{img_url2}}" >
        <img id="checkmark1" class="checkmark" src="{% static 'img/check.png' %}">
        <img id="exmark1" class="exmark" src="{% static 'img/ex.png' %}">
        <div id="choices-container1">
          <form id="checkAnswer1">
            {% csrf_token %}
            {% for choice in choices1 %}
                <button class="choice-btn1" value="{{choice}}">{{choice}}</button>
            {% endfor %}
          </form>

          </div>
      </div>
      <button id="hiddenButton" style="display: none;">Hidden Button</button>
    </div>
		{% else %}
			<img id="image" src="{% static 'img/no_internet.png' %}">
		{% endif %}
	  </div>
	</div>
  {% elif questions.topic.topic_name == "Homographs" %}
  <div class="quiz-container">
    <div id="level-container">
      <label>Level:</label>
      <span id="level">{{questions.difficulty_name}}</span>
    </div>
    <div id="question-info-container">
      <p id="question-counter">{{questions.topic.topic_name}}</p>
      <div id="timer-container">
        <p id="time-remaining">Question {{start_index}} of {{length}}</p>
        <span id="score">Points: {{questions.score}}/{{questions.maxpoints}}</span>
      </div>
    </div>
    <div id="question-container">
      {% if img_url != "no image" %}
      <div class="container" style="display: flex; justify-content: center; align-items: center;">
        <div class="column">
          <div class="image-container" style="display: flex; flex-direction: column; align-items: center; margin-bottom: 10px;">
            <img id="image" src="{{img_url}}">
            <img id="checkmark" class="checkmark" src="{% static 'img/check.png' %}">
            <img id="exmark" class="exmark" src="{% static 'img/ex.png' %}">
          </div>
        </div>
        <div class="column">
          <div class="image-container" style="display: flex; flex-direction: column; align-items: center; margin-bottom: 10px;">
            <img id="image1" src="{{img_url2}}">
            <img id="checkmark1" class="checkmark" src="{% static 'img/check.png' %}">
            <img id="exmark1" class="exmark" src="{% static 'img/ex.png' %}">
          </div>
        </div>
      </div>
      <div id="choices-container1" style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
        <form id="checkAnswer1">
          {% csrf_token %}
          {% for choice in choices %}
          <button class="choice-btn1" value="{{choice}}">{{choice}}</button>
          {% endfor %}
        </form>
      </div>
      <button id="hiddenButton" style="display: none;">Hidden Button</button>
      {% else %}
      <div class="no-image-container">
        <img id="image" src="{% static 'img/no_internet.png' %}">
      </div>
      {% endif %}
    </div>

  </div>

  {% elif questions.topic.topic_name == "Hyponyms" %}
  <div class="quiz-container">
	  <div id="level-container">
		<label>Level:</label>
		<span id="level">{{questions.difficulty_name}}</span>
	  </div>
	  <div id="question-info-container">
		<p id="question-counter">  {{questions.topic.topic_name}} </p>
		<div id="timer-container">
		  <p id="time-remaining">Question {{start_index}} of {{length}}</p>
      <span id="score">Points: {{questions.score}}/{{questions.maxpoints}}</span>
		</div>
	  </div>
    <div id="question-container">
      {% if img_url != "no image" %}
        <div class="container" style="display: flex; flex-direction: column; align-items: center;">
          <div class="column" style="display: flex; flex-direction: column; align-items: center;">
            <div class="image-container" style="display: flex; flex-direction: column; align-items: center; margin-bottom: 10px;">
              <img id="image1" src="{{img_url2}}" style="width: 600px; height: 500px;">
              <img id="checkmark1" class="checkmark" src="{% static 'img/check.png' %}">
              <img id="exmark1" class="exmark" src="{% static 'img/ex.png' %}">
            </div>
            <div id="choices-container1" style="display: flex; flex-direction: column; align-items: center;">
              <form id="checkAnswer1">
                {% csrf_token %}
                {% for choice in choices %}
                  <button class="choice-btn1" value="{{choice}}">{{choice}}</button>
                {% endfor %}
              </form>
            </div>
          </div>
          <button id="hiddenButton" style="display: none;">Hidden Button</button>
        </div>
      {% else %}
        <div class="no-image-container" style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
          <img id="image" src="{% static 'img/no_internet.png' %}">
        </div>
      {% endif %}
    </div>

	</div>
  {% endif %}
  {% endif %}

<script>


window.addEventListener('DOMContentLoaded', (event) => {
    // Page has finished loading, trigger the modal
    var modal = document.getElementById("myModal1");
    modal.style.display = "block";
  });

  function showModal() {
    var modal1 = document.getElementById("myModal1");
    modal1.style.display = "none";
    answerIsCorrect()
    var modal = document.getElementById("myModal");
    modal.style.display = "block";
  }





var answer1 = ""
var answer2 = ""
// First, create a canvas element to draw the confetti on
// Helper function to play the sadEmoji sound
function playSadEmojiSound() {
  var audio = new Audio("{% static 'incorrect.mp3' %}");
  audio.play();
}


var topic = "{{ questions.topic.topic_name }}";

const confettiSound1 = new Audio("{% static 'applause.mp3' %}");
const confettiSound = new Audio("{% static 'Confetti.mp3' %}");
function answerIsCorrect() {
  confettiSound1.play()
  var duration = 15 * 1000;
  var animationEnd = Date.now() + duration;
  var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

  function randomInRange(min, max) {
    return Math.random() * (max - min) + min;
  }

  var interval = setInterval(function() {
    var timeLeft = animationEnd - Date.now();

    if (timeLeft <= 0) {
      return clearInterval(interval);
    }

    var particleCount = 50 * (timeLeft / duration);
    // since particles fall down, start a bit higher than random
    confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } }));
    confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } }));
  }, 250);
}

function confettiAnswer(num) {
  confettiSound.play()
  var end = Date.now() + (15 * 1000);

// go Buckeyes!
  var colors = ['#bb0000', '#ffffff'];
  if (num == 1) {
    (function frame() {
      confetti({
        particleCount: 2,
        angle: 60,
        spread: 55,
        origin: { x: 0 },
        colors: colors
      });
      if (Date.now() < end) {
        requestAnimationFrame(frame);
      }
    }());
  }
  else {
    (function frame() {
      confetti({
        particleCount: 2,
        angle: 120,
        spread: 55,
        origin: { x: 1 },
        colors: colors
      });
      if (Date.now() < end) {
        requestAnimationFrame(frame);
      }
    }());
  }
}

try {

var container = document.getElementById('choices-container');

// Add event listeners to each button in the container
var buttons = container.querySelectorAll('.choice-btn');
for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', function() {
        // Retrieve the value of the clicked button
        event.preventDefault();
        var value = this.value;
        var myForm = document.querySelector("#checkAnswer");
        var formData = new FormData(myForm);
        formData.append("choice", value),
        formData.append("topic", topic)
        fetch('/studentdashboard/studentactivity/', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
            .then(data => {
                var jsResponse = data.answerVerify;
                if (jsResponse) {
                  confettiAnswer(1);
                  var image = document.getElementById('image');
                  var checkmark = document.getElementById('checkmark');
                  var imgURL = image.getAttribute('src');
                  checkmark.style.backgroundImage = 'url(' + imgURL + ')';
                  checkmark.style.backgroundSize = 'cover';
                  checkmark.style.display = 'inline-block';
                  checkmark.style.backgroundSize = 'cover'; // Set background size to 'contain' for resizing
                  checkmark.style.backgroundPosition = 'center'; // Set background position to 'center' for centering
                  checkmark.style.width = '100%'; // Adjust the width of the checkmark as desired
                  checkmark.style.height = '66%'; // Adjust the height of the checkmark as desired
                  image.style.display = 'none';
                  answer1 = "true"
                  checkBothAnswer(answer1, answer2)
                }
                else {
                  playSadEmojiSound()

                  var image = document.getElementById('image');
                  var exmark = document.getElementById('exmark');
                  var imgURL = image.getAttribute('src');

                  exmark.style.backgroundImage = 'url(' + imgURL + ')';
                  exmark.style.backgroundSize = 'cover';
                  exmark.style.display = 'inline-block';
                  exmark.style.backgroundSize = 'cover'; // Set background size to 'contain' for resizing
                  exmark.style.backgroundPosition = 'center'; // Set background position to 'center' for centering
                  exmark.style.width = '100%'; // Adjust the width of the exmark as desired
                  exmark.style.height = '66%'; // Adjust the height of the exmark as desired
                  image.style.display = 'none';
                  answer1 = "false"
                  checkBothAnswer(answer1, answer2)
                }
            });
    });
}
} catch(e) {
  console.log(e)
}
try {
  var isAnswered = "{{answered}}"

  if (isAnswered == "done") {
    clearTimeout(timeoutID);
    answerIsCorrect()
    var modal = document.getElementById("myModal");
		modal.style.display = "block";
  }
} catch(e) {
  console.log(e)
}

function navigateTo() {
  window.location.href = window.location.origin + "/studentdashboard";

}

function checkBothAnswer(answer1, answer2) {

  var modal = document.createElement('div');
  modal.classList.add('modal');
  var modalContent = document.createElement('div');
  modalContent.classList.add('modal-content');
  var resultText = document.createElement('p');
  if (answer1 == "true" && answer2 == "true" && answer1 != "" && answer2 != "" ) {
      answerIsCorrect()
      resultText.innerHTML = "Correct!<br>+" + "{{questions.points_per_question}}";
      // Create a modal footer element
      var modalFooter = document.createElement("div");
      modalFooter.classList.add("modal-footer");

      // Create a "Next" button element
      var nextButton = document.createElement("button");
      nextButton.textContent = "Next";
      nextButton.classList.add("btn", "btn-primary");
      nextButton.onclick = function() {
        nextQuestion("correct");
      };

      // Append the "Next" button to the modal footer
      modalFooter.appendChild(nextButton);

      // Append the modal footer to the modal content
      resultText.appendChild(modalFooter);

      modalContent.appendChild(resultText);
      modal.appendChild(modalContent);
      document.body.appendChild(modal);
  }
  else if (answer1 == "false" || answer2 == "false"){
    if (answer1 != "" && answer2 != "") {

      resultText.innerHTML = "The correct answers are: <br>"
      resultText.innerHTML += "For Picture 1: "+"{{words}}".charAt(0).toUpperCase() + "{{words}}".slice(1)+"<br>";
      resultText.innerHTML += "For Picture 2: "+"{{words1}}".charAt(0).toUpperCase() + "{{words1}}".slice(1)+"<br>";
      playSadEmojiSound()

      // Create a modal footer element
      var modalFooter = document.createElement("div");
      modalFooter.classList.add("modal-footer");

      // Create a "Next" button element
      var nextButton = document.createElement("button");
      nextButton.textContent = "Next";
      nextButton.classList.add("btn", "btn-primary");
      nextButton.onclick = function() {
        nextQuestion("wrong")
      }

      // Append the "Next" button to the modal footer
      modalFooter.appendChild(nextButton);

      // Append the modal footer to the modal content
      resultText.appendChild(modalFooter);
      modalContent.appendChild(resultText);
      modal.appendChild(modalContent);
      document.body.appendChild(modal);
   }

  }

}

function nextQuestion(isCorrect) {
  var myForm = document.querySelector("#nextQuestion");
  var formData = new FormData(myForm);
  formData.append("isCorrect", isCorrect),
  fetch('/studentdashboard/studentactivity/', {
    method: 'POST',
    body: formData
  }).then(() => {
    setTimeout(() => {
      window.location.reload();
    }, 2000);
  });
}



var container1 = document.getElementById('choices-container1');

// Add event listeners to each button in the container
var buttons1 = container1.querySelectorAll('.choice-btn1');
for (var i = 0; i < buttons1.length; i++) {
    buttons1[i].addEventListener('click', function() {
        event.preventDefault();
        // Retrieve the value of the clicked button
        var value = this.value;

        var myForm = document.querySelector("#checkAnswer1");
        var formData = new FormData(myForm);
        formData.append("choice1", value),
        formData.append("topic", topic)
        fetch('/studentdashboard/studentactivity/', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
            .then(data => {
                var jsResponse = data.answerVerify;
                var modal = document.createElement('div');
                modal.classList.add('modal');
                var modalContent = document.createElement('div');
                modalContent.classList.add('modal-content');
                var resultText = document.createElement('p');
                if (jsResponse) {
                  if (topic != "Homographs" && topic != "Hyponyms") {
                    confettiAnswer(2);
                    var image = document.getElementById('image1');
                    var checkmark = document.getElementById('checkmark1');
                    var imgURL = image.getAttribute('src');

                    checkmark.style.backgroundImage = 'url(' + imgURL + ')';
                    checkmark.style.display = 'inline-block';
                    checkmark.style.backgroundSize = 'cover'; // Set background size to 'contain' for resizing
                    checkmark.style.backgroundPosition = 'center'; // Set background position to 'center' for centering
                    checkmark.style.width = '100%'; // Adjust the width of the checkmark as desired
                    checkmark.style.height = '66%'; // Adjust the height of the checkmark as desired
                    image.style.display = 'none';
                    answer2 = "true"
                    checkBothAnswer(answer1, answer2)
                  }
                  else if (topic == "Homographs") {
                    answerIsCorrect();
                    var image = document.getElementById('image');
                    var checkmark = document.getElementById('checkmark');
                    var imgURL = image.getAttribute('src');
                    var image1 = document.getElementById('image1');
                    var checkmark1 = document.getElementById('checkmark1');
                    var imgURL1 = image1.getAttribute('src');

                    checkmark.style.backgroundImage = 'url(' + imgURL + ')';
                    checkmark.style.backgroundSize = 'cover';
                    checkmark.style.display = 'inline-block';
                    checkmark.style.backgroundSize = 'cover'; // Set background size to 'contain' for resizing
                    checkmark.style.backgroundPosition = 'center'; // Set background position to 'center' for centering
                    checkmark.style.width = '100%'; // Adjust the width of the checkmark as desired
                    checkmark.style.height = '66%'; // Adjust the height of the checkmark as desired
                    image.style.display = 'none';

                    checkmark1.style.backgroundImage = 'url(' + imgURL1 + ')';
                    checkmark1.style.backgroundSize = 'cover';
                    checkmark1.style.display = 'inline-block';
                    checkmark1.style.backgroundSize = 'cover'; // Set background size to 'contain' for resizing
                    checkmark1.style.backgroundPosition = 'center'; // Set background position to 'center' for centering
                    checkmark1.style.width = '100%'; // Adjust the width of the checkmark as desired
                    checkmark1.style.height = '66%'; // Adjust the height of the checkmark as desired
                    image1.style.display = 'none';
                    answer2 = "true"
                    answer1 = "true"
                    checkBothAnswer(answer1, answer2)

                  }
                  else if (topic == "Hyponyms") {
                    answerIsCorrect();
                    var image1 = document.getElementById('image1');
                    var checkmark1 = document.getElementById('checkmark1');
                    var imgURL1 = image1.getAttribute('src');
                    checkmark1.style.backgroundImage = 'url(' + imgURL1 + ')';
                    checkmark1.style.backgroundSize = 'cover';
                    checkmark1.style.display = 'inline-block';
                    checkmark1.style.backgroundSize = 'cover'; // Set background size to 'contain' for resizing
                    checkmark1.style.backgroundPosition = 'center'; // Set background position to 'center' for centering
                    checkmark1.style.width = '40%'; // Adjust the width of the checkmark as desired
                    checkmark1.style.height = '30%'; // Adjust the height of the checkmark as desired
                    image1.style.display = 'none';
                    answer2 = "true"
                    answer1 = "true"
                    checkBothAnswer(answer1, answer2)

                  }

                }

                else {
                  if (topic != "Homographs" && topic != "Hyponyms") {
                  playSadEmojiSound()

                  var image = document.getElementById('image1');
                  var exmark = document.getElementById('exmark1');
                  var imgURL = image.getAttribute('src');

                  exmark.style.backgroundImage = 'url(' + imgURL + ')';
                  exmark.style.display = 'inline-block';
                  exmark.style.backgroundSize = 'cover'; // Set background size to 'contain' for resizing
                  exmark.style.backgroundPosition = 'center'; // Set background position to 'center' for centering
                  exmark.style.width = '100%'; // Adjust the width of the exmark as desired
                  exmark.style.height = '66%'; // Adjust the height of the exmark as desired
                  image.style.display = 'none';
                  answer2 = "false"
                  checkBothAnswer(answer1, answer2)
                  }
                  else if (topic == "Homographs") {
                  playSadEmojiSound()

                  var image = document.getElementById('image');
                  var exmark = document.getElementById('exmark');
                  var imgURL = image.getAttribute('src');
                  var image1 = document.getElementById('image1');
                  var exmark1 = document.getElementById('exmark1');
                  var imgURL1 = image1.getAttribute('src');

                  exmark.style.backgroundImage = 'url(' + imgURL + ')';
                  exmark.style.backgroundSize = 'cover';
                  exmark.style.display = 'inline-block';
                  exmark.style.backgroundSize = 'cover'; // Set background size to 'contain' for resizing
                  exmark.style.backgroundPosition = 'center'; // Set background position to 'center' for centering
                  exmark.style.width = '100%'; // Adjust the width of the exmark as desired
                  exmark.style.height = '50%'; // Adjust the height of the exmark as desired
                  image.style.display = 'none';

                  exmark1.style.backgroundImage = 'url(' + imgURL1 + ')';
                  exmark1.style.backgroundSize = 'cover';
                  exmark1.style.display = 'inline-block';
                  exmark1.style.backgroundSize = 'cover'; // Set background size to 'contain' for resizing
                  exmark1.style.backgroundPosition = 'center'; // Set background position to 'center' for centering
                  exmark1.style.width = '100%'; // Adjust the width of the exmark as desired
                  exmark1.style.height = '50%'; // Adjust the height of the exmark as desired
                  image1.style.display = 'none';
                  answer2 = "false"
                  answer1 = "false"
                  checkBothAnswer(answer1, answer2)
                  }
                  else if (topic == "Hyponyms") {
                  playSadEmojiSound()
                  var image1 = document.getElementById('image1');
                  var exmark1 = document.getElementById('exmark1');
                  var imgURL1 = image1.getAttribute('src');

                  exmark1.style.backgroundImage = 'url(' + imgURL1 + ')';
                  exmark1.style.backgroundSize = 'cover';
                  exmark1.style.display = 'inline-block';
                  exmark1.style.backgroundSize = 'cover'; // Set background size to 'contain' for resizing
                  exmark1.style.backgroundPosition = 'center'; // Set background position to 'center' for centering
                  exmark1.style.width = '100%'; // Adjust the width of the exmark as desired
                  exmark1.style.height = '66%'; // Adjust the height of the exmark as desired
                  image1.style.display = 'none';
                  answer2 = "false"
                  answer1 = "false"
                  checkBothAnswer(answer1, answer2)
                  }
                }
            });
    });
}
</script>
</body>
</html>
