<!DOCTYPE html>
<html>
<head>
  {% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PicDentify</title>
	<!-- Bootstrap CSS -->
	<!-- CSS files -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<!-- JavaScript files -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNS3vx" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}?v=3">

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-M1GZhkKjJPhzvyvESX9k+OC4A4V7Qih8sO/Gg7Kx+pkT0Tl3qyntvDy9uIR4j4K7VW2c8KVv7RjKxt+dnTFFVg==" crossorigin="anonymous"></script>

<!-- Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-DnmQrq1e5/5w5fZXM5KjxjjN5iNpOvmOa/djK9X6cCiv0hJUq3YoxbNsoP6WeHm6r0r0QjzVEe9R1B2rn+IXeA==" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/studentDashboard.css' %}">

<style>
  body {
    background: linear-gradient(to right, #AACBBE, #E2DAAC); /* Gradient from light blue-green to light yellow */
    font-family: Arial, sans-serif;
    color: #080101; /* Dark color for better readability */
    margin: 0;
    padding: 0;
  }

</style>
</head>
<body>
	<!-- Navigation bar -->

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a style="color: #2c3e50;" class="navbar-brand" href="#">{{ user.username|title }}'s Class</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link d-sm-none" href="/logout_view">
              <i class="fas fa-sign-out-alt"></i>
              <span style="font-weight: bold; text-transform: uppercase;">Logout</span>
            </a>
          </li>
          <li class="nav-item d-none d-sm-inline">
            <form class="form-inline my-2 my-lg-0">
              <a class="mr-sm-2" href="/logout_view">
                <i class="fas fa-sign-out-alt"></i>
                <span style="font-weight: bold; text-transform: uppercase;" class="logout-link">Logout</span>
              </a>
            </form>
          </li>
        </ul>
      </div>

    </div>
  </nav>


  <div class="container">
      <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="error-modal-label">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                An error occurred. Please try again later.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          {% for item in topics %}
          <div class="col-sm-4 mb-4">
            <div class="box">
              <h2 class="mt-2">{{item.topic_name}}</h2>
              <p>Choose your level of difficulty:</p>
              <div class="row">
                <div class="col-4">
                  <div class="level easy">
                    {% if item.question_answered_easy >= item.easy_word_count %}
                    <button style="background-color: #27ae60; color: #ffffff;  border: none; border-radius: 3px; font-size: 10px; font-weight: bold; text-transform: uppercase;" id="easy{{item.topic_id}}" class="level-button" onclick="showScore('easy{{item.topic_id}}', 'easy')">View Score</button>

                    {% else %}
                      <a style="color: #2c3e50;" id="easy{{item.topic_id}}" class="level-button" onclick="showConfirmationModal('easy{{item.topic_id}}')">Easy</a>
                    {% endif %}
                    <button style="background-color: #2c3e50; color: #ffffff; margin-top: 0.5rem; padding: 8px 16px; border: none; border-radius: 4px; font-size: 14px; font-weight: bold;" id="easyreset{{item.topic_id}}" class="level-button" onclick="showResetModal('easyreset{{item.topic_id}}')">Reset</button>

                    <form id="ez{{item.topic_id}}">
                      {% csrf_token %}
                      <input hidden value="easy" name="easy{{item.topic_id}}">
                    </form>
                    <form id="ezreset{{item.topic_id}}">
                      {% csrf_token %}
                      <input hidden value="easyreset" name="easyreset{{item.topic_id}}">
                    </form>
                  </div>
                </div>
                <div class="col-4">
                  <div class="level medium">
                    {% if item.question_answered_medium >= item.medium_word_count %}
                      <button style="background-color: #27ae60; color: #ffffff; border: none; border-radius: 3px; font-size: 10px; font-weight: bold; text-transform: uppercase;" id="medium{{item.topic_id}}" class="level-button" onclick="showScore('medium{{item.topic_id}}', 'medium')">View Score</button>
                    {% else %}
                      <a style="color: #2c3e50;" id="medium{{item.topic_id}}" class="level-button" onclick="showConfirmationModal('medium{{item.topic_id}}')">Medium</a>
                    {% endif %}
                    <button style="background-color: #2c3e50; margin-top: 0.5rem; color: #ffffff; padding: 8px 16px; border: none; border-radius: 4px; font-size: 14px; font-weight: bold;" id="mediumreset{{item.topic_id}}" class="level-button" onclick="showResetModal('mediumreset{{item.topic_id}}')">Reset</button>

                    <form id="med{{item.topic_id}}">
                      {% csrf_token %}
                      <input hidden value="medium" name="medium{{item.topic_id}}">
                    </form>
                    <form id="medreset{{item.topic_id}}">
                      {% csrf_token %}
                      <input hidden value="mediumreset" name="mediumreset{{item.topic_id}}">
                    </form>
                  </div>
                </div>
                <div class="col-4">
                  <div class="level hard">
                    {% if item.question_answered_difficult >= item.difficult_word_count %}
                      <button style=" margin-left: 0.5rem; background-color: #27ae60; color: #ffffff; border: none; border-radius: 3px; font-size: 10px; font-weight: bold; text-transform: uppercase;" id="difficult{{item.topic_id}}" class="level-button" onclick="showScore('difficult{{item.topic_id}}', 'difficult')">View Score</button>
                    {% else %}
                      <a style="color: #2c3e50;" id="difficult{{item.topic_id}}" class="level-button" onclick="showConfirmationModal('difficult{{item.topic_id}}')">Difficult</a>
                    {% endif %}
                    <button style="background-color: #2c3e50; margin-top: 0.5rem; color: #ffffff; padding: 8px 16px; border: none; border-radius: 4px; font-size: 14px; font-weight: bold;" id="difficultreset{{item.topic_id}}" class="level-button" onclick="showResetModal('difficultreset{{item.topic_id}}')">Reset</button>

                    <form id="dif{{item.topic_id}}">
                      {% csrf_token %}
                      <input hidden value="difficult" name="difficult{{item.topic_id}}">
                    </form>
                    <form id="difreset{{item.topic_id}}">
                      {% csrf_token %}
                      <input hidden value="difficultreset" name="difficultreset{{item.topic_id}}">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">Confirm Difficulty Level</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div style="color:black;" class="modal-body">
            Are you sure you want to proceed with this difficulty level?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="confirmButton">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="resetModalLabel">Reset Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div style="color:black;" class="modal-body">
            Are you sure you want to reset this difficulty?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" id="resetButton">Reset</button>
          </div>
        </div>
      </div>
    </div>



</body>
</html>

<script>

function showConfirmationModal(levelId) {
  $('#confirmButton').data('level-id', levelId);
  $('#confirmationModal').modal('show');
}

function showResetModal(levelId) {
  $('#resetButton').data('level-id', levelId);
  $('#resetModal').modal('show');
}


function navigateTo(form_id, topic_id, difficulty) {
  var myForm = document.querySelector(form_id);
  var formData = new FormData(myForm);
  formData.append('difficulty', difficulty);
  formData.append('topic_id', topic_id);
  fetch('/studentdashboard/', {
    method: 'POST',
    body: formData
  }).then(response => response.json())
  .then(data => {
    document.cookie = data.questions
    window.location.href = window.location.origin + "/studentdashboard/studentactivity"

  }).catch(error => {
    $('#error-modal').modal('show')
    setTimeout(function() {
      $('#error-modal').modal('hide')
    }, 5000)
    console.error(error)
  })
}
function resetDifficulty(form_id, topic_id, difficulty) {
  var myForm = document.querySelector(form_id);
  var formData = new FormData(myForm);
  formData.append('resetdifficulty', difficulty);
  formData.append('topic_id_reset', topic_id);

  fetch('/studentdashboard/', {
    method: 'POST',
    body: formData
  }).then(function(response) {
    // Show success message using SweetAlert
    swal({
      title: "Successfully Reset!",
      text: "Reload the page to synch with the data",
      icon: "success",
      buttons: {
        login: {
          text: "Ok",
          value: "login",
          className: "btn btn-primary",
        }
      }
    }).then((value) => {
      if (value === "login") {
        // Reload the page
        location.reload();
      }
    });
  }).catch(function(error) {
    console.error('Error:', error);
  });
}

function showScore(buttonId, difficulty) {
  stringReplace = buttonId.replace(difficulty, "")
  if (difficulty == 'easy')
    navigateTo("#ez"+stringReplace, stringReplace, difficulty)
  else if (difficulty == 'medium')
    navigateTo("#med"+stringReplace, stringReplace, difficulty)
  else
    navigateTo("#dif"+stringReplace, stringReplace, difficulty)
}

document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll("[id^='easy']").forEach(function(el) {
      // Add an event listener to each element
      el.addEventListener("click", function(event) {
        stringReplace = el.id.replace("easy", "")
        event.preventDefault();
        // Add event listener to confirm button
        const confirmButton = document.getElementById("confirmButton");
        confirmButton.addEventListener("click", function(event) {
          event.preventDefault();
          // Call navigateTo function here
          navigateTo("#ez"+stringReplace, stringReplace, "easy")
        });

      });
    })
  })
  document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll("[id^='medium']").forEach(function(el) {
            // Add an event listener to each element
            el.addEventListener("click", function(event) {
              stringReplace = el.id.replace("medium", "")
              event.preventDefault();
              const confirmButton = document.getElementById("confirmButton");
              confirmButton.addEventListener("click", function(event) {
                event.preventDefault();
                // Call navigateTo function here
                navigateTo("#med"+stringReplace, stringReplace, "medium")
              });

          });
        })
    })

    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll("[id^='difficult']").forEach(function(el) {
            // Add an event listener to each element
            el.addEventListener("click", function(event) {
              stringReplace = el.id.replace("difficult", "")
              event.preventDefault();
              const confirmButton = document.getElementById("confirmButton");
              confirmButton.addEventListener("click", function(event) {
                event.preventDefault();
                // Call navigateTo function here
                navigateTo("#dif"+stringReplace, stringReplace, "difficult")
              });
          });
        })
    })



document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll("[id^='easyreset']").forEach(function(el) {
      // Add an event listener to each element
      el.addEventListener("click", function(event) {
        stringReplace = el.id.replace("easyreset", "")
        event.preventDefault();
        // Add event listener to confirm button
        const resetButton = document.getElementById("resetButton");
        resetButton.addEventListener("click", function(event) {
          event.preventDefault();
          // Call navigateTo function here
          resetDifficulty("#ezreset"+stringReplace, stringReplace, "easy")
        });

      });
    })
  })
  document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll("[id^='mediumreset']").forEach(function(el) {
            // Add an event listener to each element
            el.addEventListener("click", function(event) {
              stringReplace = el.id.replace("mediumreset", "")
              event.preventDefault();
              const resetButton = document.getElementById("resetButton");
              resetButton.addEventListener("click", function(event) {
                event.preventDefault();
                // Call navigateTo function here
                resetDifficulty("#medreset"+stringReplace, stringReplace, "medium")
              });
          });
        })
    })

    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll("[id^='difficultreset']").forEach(function(el) {
            // Add an event listener to each element
            el.addEventListener("click", function(event) {
              stringReplace = el.id.replace("difficultreset", "")
              event.preventDefault();
              const resetButton = document.getElementById("resetButton");
              resetButton.addEventListener("click", function(event) {
                event.preventDefault();
                // Call navigateTo function here
                resetDifficulty("#difreset"+stringReplace, stringReplace, "difficult")
              });

          });
        })
    })

</script>