<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Teacher Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/teacherDashboard.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

<style>
  body {
    background: linear-gradient(to right, #AACBBE, #E2DAAC); /* Gradient from light blue-green to light yellow */
    font-family: Arial, sans-serif;
    color: #080101; /* Dark color for better readability */
    margin: 0;
    padding: 0;
  }
</style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a style="color: #fff;" class="navbar-brand" href="#">
          <img src="{% static 'img/logo.png' %}" alt="" class="logo-img">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active" style="border-right: 1px solid white;">
              <a style="color: #2c3e50;" class="nav-link" href="/dashboard">Home</a>
            </li>
            <li class="nav-item" style="border-right: 1px solid white;">
              <a style="color: #2c3e50;" class="nav-link" onclick="showPopUp()">My Teacher's Key</a>
            </li>
            <li class="nav-item">
              <a style="color: #2c3e50;" class="nav-link" href="/logout_view">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- Main Content -->
    <div id="myTeacherKeyModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content1">
        <div class="modal-header">
          <button style="color: red; font-size: 3rem;" type="button" class="close" onclick="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
          <p style="color:#080101; text-align: center; font-weight: bold; font-size: large;" class="user-key">{{ user_key }}</p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-primary" id="copy-btn" onclick="CopyUserKey()">Copy Key</button>
        </div>
        <p hidden id="user-key" style="color:rgb(10, 9, 9)">{{ user_key }}</p>
      </div>    
    </div>

    <div class="container mt-4">

      <div class="row">
          <div class="col-md-8 float-right">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createClassModal">
                  Create Topic 
              </button>               
          </div>
      </div>
    
      <div class="row mt-4">
        {% for item in topics %}
        <div class="col-md-3 mb-2">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <h5 style="text-align: center;" class="card-title hover-effect">{{item.topic_name}}</h5>
                {% for items in difficulty %}
                {% if items.topic_id == item.topic_id %}
                <p class="card-text difficulty-level hover-effect2">{{items.difficulty_name|title}}</p>
                {% endif %}
                {% endfor %}
              </div>                           
              <div class="mt-auto">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editModal1" id="edit-topic{{forloop.counter}}">Edit Details</a>
                <form id="topic_to_edit{{forloop.counter}}" method="post">
                  {% csrf_token %}
                  <input type="text" value="{{item.topic_id}}" name="topic_to_edit_samp" hidden>
                </form>
                <form id="change_picture" method="post">
                  {% csrf_token %}
                  <input type="text" value="" name="fetch_picture" hidden id="fetch_picture">
                  <input type="text" value="" name="fetch_picture1" hidden id="fetch_picture1">
                  <input type="text" value="" name="topic_to_get" hidden id="topic_to_get">
                  <input type="text" value="" name="difficulty_to_get" hidden id="difficulty_to_get">
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    
    </div>
    
  
  <!-- Create Topic Modal -->
  <div class="modal fade" id="createClassModal" tabindex="-1" role="dialog" aria-labelledby="createClassModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form method="post" id="save-game">
          {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createClassModalLabel">Create Topic </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="classNameInput">Topic Name</label>
                <input type="text" class="form-control" id="classNameInput" placeholder="Enter Topic name" name="addTopic">
              </div>
              <div class="form-group">
                <label for="points_per_question">Points Per Question</label>
                <input type="number" class="form-control" id="points_per_question" placeholder="Enter time points per question" name="points_per_question">
              </div>
              <div class="form-group">
                <label for="difficultyLevelInput">Difficulty Level</label>
                <select class="form-control" id="difficultyLevelInput" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="difficult">Difficult</option>
                </select>
              </div>

              <div class="form-group">
                <label for="wordCount">Number of Words</label>
                <input type="number" class="form-control" id="wordCount" placeholder="Enter the number of words" min="1" oninput="showWordFields()">
              </div>
              
              <div id="wordFieldsContainer" style="display: none; overflow: auto; max-height: 300px;">
                <div class="upload-container">
                  <div id="wordFieldsSection"></div>
                </div>
              </div>              

          </div>
          <div style="display: flex; justify-content: center; text-align: center;" class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="saveGame()">Create Topic</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  
    <div style="    position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 1000;" class="modal fade" id="editModal1" tabindex="-1" role="dialog" aria-labelledby="editModal1Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModal2Label">Edit Topic Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" id="editTopic">
              {% csrf_token %}
              <div class="form-group">
                <label for="topicTitle2">Title</label>
                <input type="text" class="form-control" id="topicTitle2" placeholder="Enter title" name="topicTitle2">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="topicId" name="topicId" hidden>
              </div>
              <div class="form-group">
                <label for="topicDifficulty2">Difficulty Level</label>
                <select class="form-control" id="topicDifficulty2" name="topicChange">
                </select>
              </div>
              <div class="form-group">
                <label for="timeLimitInput">Points Per Question</label>
                <input type="number" class="form-control" id="points_per_question_edit" placeholder="Enter time limit" name="points_per_question_edit">
              </div>
              <div class="form-group">
                <button class="btn btn-primary mb-1" id="addWordButton">Add Word</button>           
                <form method="post" id="addWordsAtTopic">
                  {% csrf_token %}
                  <div id="wordInputs"></div>
                </form>
                
              </div>
             

              <div class="form-group">
                <label for="topicWords2">Words</label>
                <div class="input-group">
                  <select class="form-control" id="topicWords2" name="topicWords"></select>
                  <button class="btn btn-primary" onclick="showInputField()">Edit</button>
                </div>
              </div>              

              <div class="form-group">
                <input type="text" class="form-control" id="selectedWord1" name="selectedWord1" hidden>
              </div>
           
              <div id="inputFieldContainer" style="display: none;" >
                <label for="inputField">Edit Word</label>
                <div class="input-group">
                  <form method="post" id="editWord1">
                    {% csrf_token %}
                    <input type="text" class="form-control" id="inputField" name="inputField">
                  </form>
                  <div class="input-group-append">
                    <button class="btn btn-success" type="button" onclick="saveInput()">
                      <i class="fas fa-check"></i>
                    </button>
                    <button class="btn btn-danger" type="button" onclick="cancelInput()">
                      <i class="fas fa-times"></i>
                    </button>
                    <button class="btn btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#confirmModal">
                      <i class="fas fa-trash"></i>
                    </button>

                    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete this word?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" onclick="deleteInput()">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              
              
              <div class="form-group">
                <label for="choice_edit">Choices</label>
                <input type="text" class="form-control" id="choice_edit1" placeholder="Choice 1" name="choice1" onkeyup="setRequired(this)">
                <input type="text" class="form-control" id="choice_edit2" placeholder="Choice 2" name="choice2" onkeyup="setRequired(this)">
                <input type="text" class="form-control" id="choice_edit3" placeholder="Choice 3" name="choice3" onkeyup="setRequired(this)">
              </div>
              <form method="POST" enctype="multipart/form-data" id="image-change">
                {% csrf_token %}
              </form>
              <div class="image-container" id="pictures">
                {% for counter in "01234" %}
                <div class="image-wrapper">
                  <img id="image{{ counter }}" alt="Image {{ counter }}">
                  <div class="view-icon">
                    <i class="fas fa-eye" onclick="zoomImage('image{{ counter }}')"></i>
                    <form method="POST" enctype="multipart/form-data" id="image-change{{ counter }}">
                      {% csrf_token %}
                      <label for="profile-picture-{{ counter }}">
                        <input type="file" class="form-control" accept="image/*" name="picture-{{ counter }}" style="display: none;" />
                        <i id="icon-edit-{{ counter }}" class="fas fa-edit" style="color:black"></i>
                      </label>
                    </form>
                  </div>
                  <div class="button-container">
                    <button id="save-button-{{ counter }}" class="btn btn-primary" style="display: none;">Save</button>
                    <i id="icon-check-{{ counter }}" class="fas fa-check" style="display: none; color: green;"></i>
                  </div>
                </div>
                
                {% endfor %}
              
              </div>
              <div class="form-group" id="wordNumber2">
                <label for="topicWords3">Words2</label>
                <div class="input-group">
                  <select class="form-control" id="topicWords3" name="topicWords1"></select>
                  <button class="btn btn-primary" onclick="showInputField2()">Edit</button>
                </div>
              </div>  
              
              <div id="inputFieldContainer2" style="display: none;">
                <label for="inputField2">Edit Word:</label>
                <div class="input-group">
                  <form method="post" id="editWord2">
                    {% csrf_token %}
                    <input type="text" class="form-control" id="inputField2" name="inputField2">
                  </form>
                  <div class="input-group-append">
                    <button class="btn btn-success" type="button" onclick="saveInput2()">
                      <i class="fas fa-check"></i>
                    </button>
                    <button class="btn btn-danger" type="button" onclick="cancelInput2()">
                      <i class="fas fa-times"></i>
                    </button>
                    <button class="btn btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal2">
                      <i class="fas fa-trash"></i>
                    </button>

                    <div class="modal fade" id="deleteModal2" tabindex="-1" aria-labelledby="deleteModal2Label" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModal2Label">Confirm Deletion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete this word?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" onclick="deleteInput2()">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
                
              <div class="form-group" id="choiceNumber2">
                <label for="choice_edit">Choices</label>
                <input type="text" class="form-control" id="secondchoice_edit1" placeholder="Choice 1" name="secondchoice1">
                <input type="text" class="form-control" id="secondchoice_edit2" placeholder="Choice 2" name="secondchoice2">
                <input type="text" class="form-control" id="secondchoice_edit3" placeholder="Choice 3" name="secondchoice3">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="selectedWord2" name="selectedWord2" hidden>
              </div>
              <div class="image-container" id="pictures1">
                <!-- Image 1 -->
                {% for counter in "56789" %}
                <div class="image-wrapper">
                  <img id="image{{ counter }}" alt="Image {{ counter }}">
                  <div class="view-icon">
                    <i class="fas fa-eye" onclick="zoomImage('image{{ counter }}')"></i>
                    <form method="POST" enctype="multipart/form-data" id="image-change{{ counter }}">
                      {% csrf_token %}
                      <label for="profile-picture-{{ counter }}">
                        <input type="file" class="form-control" accept="image/*" name="picture-{{ counter }}" style="display: none;" />
                        <i id="icon-edit-{{ counter }}" class="fas fa-edit" style="color:black"></i>
                      </label>
                    </form> 
                  </div>
                  <div class="button-container">
                    <button id="save-button-{{ counter }}" class="btn btn-primary" style="display: none;">Save</button>
                    <i id="icon-check-{{ counter }}" class="fas fa-check" style="display: none; color: green;"></i>
                  </div>
                </div>
                
                {% endfor %}
              </div>
            </form>
          </div>
          <div style="display: flex; justify-content: center; text-align: center;" class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>

    var addButton = document.getElementById("addWordButton");
    var wordInputsContainer = document.getElementById("wordInputs");
    var wordInputContainerMain = "";
    var topicIdFetch = "";
    var topicTitleGlobalVar = "";
    var wordInputContainer = "";
    function saveInput() {
      var myForm = document.querySelector("#editWord1");
      var formData = new FormData(myForm);
      formData.append("wordToEdit", document.getElementById("selectedWord1").value);
      var title_id = document.querySelector('#topicId');
      formData.append("topicIdWord1Edit", title_id.value);
      
      
      fetch('/dashboard/', {
        method: 'POST',
        body: formData
      }).then(function() {
        fetchTopicDetails(topicIdFetch, 2);
        var inputFieldContainer = document.getElementById("inputFieldContainer");
        inputFieldContainer.style.display = "none";
        document.getElementById("inputField").value = ""
      });
    }

  function saveInput2() {
    var myForm = document.querySelector("#editWord2");
      var formData = new FormData(myForm);
      formData.append("wordToEdit1", document.getElementById("selectedWord2").value);
      var title_id = document.querySelector('#topicId');
      formData.append("topicIdWord2Edit", title_id.value);
      fetch('/dashboard/', {
        method: 'POST',
        body: formData
      }).then(function() {
        fetchTopicDetails(topicIdFetch, 2);
        var inputFieldContainer = document.getElementById("inputFieldContainer2");
        inputFieldContainer.style.display = "none";
        document.getElementById("inputField2").value = ""
      });
  }

  function deleteInput() {
      var myForm = document.querySelector("#editWord1");
      var formData = new FormData(myForm);
      formData.append("wordToDelete", document.getElementById("selectedWord1").value);
      var title_id = document.querySelector('#topicId');
      formData.append("topicIdWord1Delete", title_id.value);
      
      fetch('/dashboard/', {
        method: 'POST',
        body: formData
      }).then(function() {
        fetchTopicDetails(topicIdFetch, 2);
        var inputFieldContainer = document.getElementById("inputFieldContainer");
        inputFieldContainer.style.display = "none";
        document.getElementById("inputField").value = ""
        $('#confirmModal').modal('hide');
      });

  }

  function deleteInput2() {
   
      var myForm = document.querySelector("#editWord2");
      var formData = new FormData(myForm);
      formData.append("wordToDelete1", document.getElementById("selectedWord2").value);
      var title_id = document.querySelector('#topicId');
      formData.append("topicIdWord2Delete", title_id.value);
      
      fetch('/dashboard/', {
        method: 'POST',
        body: formData
      }).then(function() {
        fetchTopicDetails(topicIdFetch, 2);
        var inputFieldContainer = document.getElementById("inputFieldContainer2");
        inputFieldContainer.style.display = "none";
        document.getElementById("inputField2").value = ""
        $('#deleteModal2').modal('hide');
      });
  }
  // Function to retrieve the value of a cookie
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    var cookies = document.cookie.split(";");
    for (var i = 0; i < cookies.length; i++) {
      var cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === name + "=") {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

addButton.addEventListener("click", function(event) {
  event.preventDefault();
  var form = document.createElement("form");
  form.setAttribute("method", "post");
  form.setAttribute("id", "addWordsAtTopic");

  // Retrieve CSRF token from the cookie
  var csrfToken = getCookie("csrftoken");

  // Create a hidden input field for CSRF token in the dynamically created form
  var csrfTokenInput = document.createElement("input");
  csrfTokenInput.setAttribute("type", "hidden");
  csrfTokenInput.setAttribute("name", "csrfmiddlewaretoken");
  csrfTokenInput.value = csrfToken;
  form.appendChild(csrfTokenInput);

  wordInputContainer = document.createElement("div");
  wordInputContainer.classList.add("form-group");

  var wordInputGroup = document.createElement("div");
  wordInputGroup.classList.add("input-group");
  wordInputContainer.appendChild(wordInputGroup);

  var wordInput1 = document.createElement("input");
  wordInput1.setAttribute("type", "text");
  wordInput1.setAttribute("class", "form-control");
  wordInput1.setAttribute("placeholder", "Word 1");
  wordInput1.setAttribute("name", "add_word1");
  wordInputGroup.appendChild(wordInput1);

  if (topicTitleGlobalVar != "Homographs" && topicTitleGlobalVar != "Hyponyms") {
    var separator = document.createElement("div");
    separator.classList.add("input-group-text");
    separator.textContent = ":";
    wordInputGroup.appendChild(separator);

    var wordInput2 = document.createElement("input");
    wordInput2.setAttribute("type", "text");
    wordInput2.setAttribute("class", "form-control");
    wordInput2.setAttribute("placeholder", "Word 2");
    wordInput2.setAttribute("name", "add_word2");
    wordInputGroup.appendChild(wordInput2);

  }
  var checkButton = document.createElement("button");
  checkButton.classList.add("btn", "btn-success");
  checkButton.innerHTML = '<i class="fas fa-check"></i>';
  checkButton.addEventListener("click", function(event) {
    event.preventDefault();

    var title_id = document.querySelector('#topicId');
    var myForm = document.querySelector("#addWordsAtTopic");
    var formData = new FormData(myForm);
    formData.append("addAWord", true);
    formData.append("topicIdToBeAdded", title_id.value);

    // Submit the form
    fetch('/dashboard/', {
      method: 'POST',
      body: formData
    }).then(function() {
      // Fade out the wordInputContainer after form submission
      wordInputContainer.style.opacity = 0;
      setTimeout(function() {
        // Remove the wordInputContainer after the fade-out effect
        form.remove();
        wordInputContainer.remove();
      }, 500); // Adjust the delay as needed for the fade effect duration
    }).then(
      fetchTopicDetails(topicIdFetch, 2)
    );
  });
  wordInputGroup.appendChild(checkButton);

  var deleteButton = document.createElement("button");
  deleteButton.classList.add("btn", "btn-danger");
  deleteButton.innerHTML = '<i class="fas fa-times"></i>';
  deleteButton.addEventListener("click", function(event) {
    event.preventDefault();
    wordInputContainer.remove(); // Remove the parent container
  });
  wordInputGroup.appendChild(deleteButton);

  form.appendChild(wordInputContainer);

  var wordInputsContainer = document.getElementById("wordInputs");
  wordInputsContainer.appendChild(form);
});

    function setRequired(inputElement) {
        var value = inputElement.value.trim();
        if (value.length > 0) {
          // Set the other two input fields as required
          if (inputElement.id === 'choice_edit1') {
            document.getElementById('choice_edit2').required = true;
            document.getElementById('choice_edit3').required = true;
          } else if (inputElement.id === 'choice_edit2') {
            document.getElementById('choice_edit1').required = true;
            document.getElementById('choice_edit3').required = true;
          } else if (inputElement.id === 'choice_edit3') {
            document.getElementById('choice_edit1').required = true;
            document.getElementById('choice_edit2').required = true;
          }
        } else {
          // Remove the required attribute from the other two input fields
          document.getElementById('choice_edit1').required = false;
          document.getElementById('choice_edit2').required = false;
          document.getElementById('choice_edit3').required = false;
        }
      }
    
      document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll("[id^='icon-edit']").forEach(function(el) {
          var fileId = el.getAttribute("id").split("-")[2]; // Extract the file ID from the element's ID
          var fileInput = document.querySelector(`input[name="picture-${fileId}"]`);
          var saveButton = document.getElementById(`save-button-${fileId}`);
          var iconButton = document.getElementById(`icon-check-${fileId}`);
          var previewImage = document.getElementById(`image${fileId}`);

          el.addEventListener("click", function(event) {
            fileInput.click();
          });

          fileInput.addEventListener("change", function() {
            if (fileInput.files.length > 0) {
              saveButton.style.display = 'block';

              // Display the selected image in the preview
              var reader = new FileReader();
              reader.onload = function(event) {
                previewImage.src = event.target.result;
              };
              reader.readAsDataURL(fileInput.files[0]);
            } else {
              saveButton.style.display = 'none';
              previewImage.src = ""; // Clear the preview image
            }
          });

          saveButton.addEventListener("click", function(event) {
            event.preventDefault();
            var myForm = document.querySelector("#image-change"+fileId);
            var formData = new FormData(myForm);
            if (fileId <= 4) {
              var word1Value = document.querySelector('#selectedWord1'); 
              formData.append("word", word1Value.value + (parseInt(fileId) + 1).toString());
            } else {
              var word2Value = document.querySelector('#selectedWord2'); 
              if (topicTitleGlobalVar == "Homographs") {
                formData.append("word", "HG"+word2Value.value + (parseInt(fileId) - 4).toString())
              }
              else {
                formData.append("word", word2Value.value + (parseInt(fileId) - 4).toString())
              }

            }
            formData.append("imagePos", fileId);
            fetch('/dashboard/', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
                .then(data => {
                  var icon = document.getElementById(`icon-check-${fileId}`);
                  saveButton.style.display = 'none';
                  icon.style.display = 'inline';

                  setTimeout(() => {
                    icon.style.display = 'none';
                  }, 3000); // 3000 milliseconds = 3 seconds
                 
                })
                .catch(error => {
                  console.log('Error:', error);
                });
          });
        });
      });

    function showInputField() {
      event.preventDefault()
      var selectElement = document.getElementById("topicWords2");
      var inputFieldContainer = document.getElementById("inputFieldContainer");
      var selectedValue = selectElement.value;

      if (selectedValue !== "") {
        inputFieldContainer.style.display = "block";
        document.getElementById("inputField").value = document.getElementById("selectedWord1").value
      } else {
        inputFieldContainer.style.display = "none";
      }
    }
    function cancelInput() {
      event.preventDefault()
      var inputFieldContainer = document.getElementById("inputFieldContainer");
      inputFieldContainer.style.display = "none";
      document.getElementById("inputField").value = "";
    }
    function showInputField2() {
      var selectElement2 = document.getElementById("topicWords3");
      var inputFieldContainer2 = document.getElementById("inputFieldContainer2");
      var selectedValue2 = selectElement2.value;

      if (selectedValue2 !== "") {
        inputFieldContainer2.style.display = "block";
        document.getElementById("inputField2").value = document.getElementById("selectedWord2").value
      } else {
        inputFieldContainer2.style.display = "none";
      }
    }
    function cancelInput2() {
      event.preventDefault()
      var inputFieldContainer = document.getElementById("inputFieldContainer2");
      inputFieldContainer.style.display = "none";
      document.getElementById("inputField2").value = "";
    }
    

  function showWordFields() {
      var wordCount = parseInt(document.getElementById("wordCount").value);
      var wordFieldsSection = document.getElementById("wordFieldsSection");
      wordFieldsSection.innerHTML = "";

      for (var i = 1; i <= wordCount; i++) {
        var wordDiv = document.createElement("div");
        wordDiv.className = "form-group";

        var wordLabel = document.createElement("label");
        wordLabel.setAttribute("for", "topicWord" + i);
        wordLabel.textContent = "Word " + i;

        var wordInput = document.createElement("input");
        wordInput.setAttribute("type", "text");
        wordInput.className = "form-control";
        wordInput.setAttribute("id", "topicWord" + i);
        wordInput.setAttribute("placeholder", "Enter word " + i);
        wordInput.setAttribute("name", "word" + i);

        wordDiv.appendChild(wordLabel);
        wordDiv.appendChild(wordInput);

        var imageUploadSection = document.createElement("div");
        imageUploadSection.id = "imageUploadSection" + i;
        imageUploadSection.className = "image-scroll-container";

        for (var j = 1; j <= 5; j++) {
          var imageDiv = document.createElement("div");
          imageDiv.style.border = "1px solid #000";
          imageDiv.style.padding = "10px";
          imageDiv.style.marginBottom = "10px";
          imageDiv.style.marginRight = "10px";

          var labelDiv = document.createElement("div");
          labelDiv.style.textAlign = "center";

          var label = document.createElement("label");
          label.setAttribute("for", "imageUpload" + i + "_" + j);
          label.style.cursor = "pointer";
          label.textContent = "Upload Image " + j;

          labelDiv.appendChild(label);

          var imageInput = document.createElement("input");
          imageInput.setAttribute("type", "file");
          imageInput.setAttribute("class", "form-control-file");
          imageInput.setAttribute("id", "imageUpload" + i + "_" + j);
          imageInput.setAttribute("name", "image" + i + "_" + j);
          imageInput.setAttribute("onchange", "showImage(this, 'preview" + i + "_" + j + "')");
          imageInput.style.display = "none";

          var previewDiv = document.createElement("div");
          previewDiv.id = "preview" + i + "_" + j;
          previewDiv.className = "uploaded-image";

          imageDiv.appendChild(labelDiv);
          imageDiv.appendChild(imageInput);
          imageDiv.appendChild(previewDiv);

          imageUploadSection.appendChild(imageDiv);
        }

        wordFieldsSection.appendChild(wordDiv);
        wordFieldsSection.appendChild(imageUploadSection);
      }

      document.getElementById("wordFieldsContainer").style.display = "block";
    }

    function showImage(input, previewId) {
      var preview = document.getElementById(previewId);
      preview.innerHTML = '';

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          var image = document.createElement("img");
          image.setAttribute("src", e.target.result);
          image.setAttribute("class", "uploaded-image");

          preview.appendChild(image);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }

  function showImageUpload(input) {
    var wordNumber = input.id.replace("topicWord", "");
    var imageUploadSection = document.getElementById("imageUploadSection");
    var previewDiv = document.getElementById("preview" + wordNumber);

    var div = document.createElement("div");
    div.style.border = "1px solid #000";
    div.style.padding = "10px";
    div.style.marginBottom = "10px";
    div.style.marginRight = "10px";

    var labelDiv = document.createElement("div");
    labelDiv.style.textAlign = "center";

    var label = document.createElement("label");
    label.setAttribute("for", "imageUpload" + wordNumber);
    label.style.cursor = "pointer";
    label.textContent = "Upload Image";

    labelDiv.appendChild(label);

    var imageInput = document.createElement("input");
    imageInput.setAttribute("type", "file");
    imageInput.setAttribute("class", "form-control-file");
    imageInput.setAttribute("id", "imageUpload" + wordNumber);
    imageInput.setAttribute("name", "image" + wordNumber);
    imageInput.setAttribute("onchange", "showImage(this, 'preview" + wordNumber + "')");
    imageInput.style.display = "none";

    div.appendChild(labelDiv);
    div.appendChild(imageInput);
    div.appendChild(previewDiv);

    imageUploadSection.appendChild(div);

    document.getElementById("imageUploadContainer").style.display = "block";
  }

function changePicture(selectedOption, selectWords, select, topic) {
  for (var i = 1; i < 4; i++) {
        var choice = document.querySelector('#choice_edit'+i)
        choice.value = ""
  }  
  for (var i = 1; i < 4; i++) {
        var choice = document.querySelector('#secondchoice_edit'+i)
        choice.value = ""
  }
  var myForm = document.querySelector('#change_picture')
  document.getElementById('fetch_picture').value = selectedOption
  document.getElementById('fetch_picture1').value = selectWords
  document.getElementById('difficulty_to_get').value = select
  document.getElementById('topic_to_get').value = topic
  var formData = new FormData(myForm)
  fetch('/dashboard/', {
    method: 'POST',
    body: formData
  }).then(response => response.json())
  .then(data => {
    var images_url = data.images
    
    var images_url1 = data.images1
    for (var i = 0; i < 5; i++) {             
        var image = document.getElementById('image'+i);     
        if (images_url[i] != undefined) {

          image.src = images_url[i]
        
        }   
        else {
          image.src = "/PicDentify.png"
        }            
    }
  
    for (var i = 0; i < 5; i++) {
        var j = i + 5;
        var image1 = document.getElementById('image'+j);
        if (images_url1[i] != undefined) {
          image1.src = images_url1[i]
        }    
        else {
          image1.src = "/PicDentify.png"
        } 
       
    }

 
    var choices_rendered = data.choices
    var choices_rendered1 = data.choices1
    if (choices_rendered != "") {
      for (var i = 1; i < 4; i++) {
        var choice = document.querySelector('#choice_edit'+i)
        choice.value = choices_rendered[i-1]
      }   
    }
    if (choices_rendered1 != "") {
      for (var i = 1; i < 4; i++) {
        var choice = document.querySelector('#secondchoice_edit'+i)
        choice.value = choices_rendered1[i-1]
      }   
    }
  })
}
function zoomImage(imageId) {
  var image = document.getElementById(imageId);
  var imageSource = image.getAttribute('src');
  var imageAlt = image.getAttribute('alt');

  var zoomedContainer = document.createElement('div');
  var zoomedImage = document.createElement('img');

  zoomedImage.src = imageSource;
  zoomedImage.alt = imageAlt;

  zoomedContainer.classList.add('zoomed-image');
  zoomedContainer.onclick = function () {
    zoomedContainer.remove();
  };
  zoomedContainer.appendChild(zoomedImage);
  document.body.appendChild(zoomedContainer);
}



    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll("[id^='edit-topic']").forEach(function(el) {
          // Add an event listener to each element
          el.addEventListener("click", function(event) {
            stringReplace = el.id.replace("edit-topic", "")
            topicIdFetch = stringReplace
            event.preventDefault();
            fetchTopicDetails(stringReplace, 1)
          });
      });
    });
    var modal = document.getElementById("myTeacherKeyModal");

    function closeModal() {
      var modal = document.querySelector('.modal');
      modal.style.display = 'none';
    }

    
    function showPopUp() {
      modal.style.display = "block";
    }
    function CopyUserKey() {
  // Get the user_key element
      var userKeyElem = document.querySelector("#user-key");
      // Create a temporary input element
      var tempInput = document.createElement("input");
      // Set the value of the input element to the user_key text
      tempInput.setAttribute("value", userKeyElem.innerText);
      // Add the input element to the page
      document.body.appendChild(tempInput);
      // Select the input element
      tempInput.select();
      // Copy the text inside the input element to the clipboard
      document.execCommand("copy");
      // Remove the input element from the page
      document.body.removeChild(tempInput);
      // Show a message to the user that the text has been copied
      var copyBtn = document.getElementById("copy-btn");
      copyBtn.innerHTML = "Copied!";
      copyBtn.disabled = true;
    }

  function saveGame() {
    event.preventDefault();
    var myForm = document.querySelector('#save-game');
    var formData = new FormData(myForm);
			fetch('/dashboard/', {
				method: 'POST',
				body: formData
			}).then(
        location.reload()
      )
  }
  function saveChanges() {
    event.preventDefault();
    var myForm = document.querySelector('#editTopic');
    var concatenatedChoices = [document.getElementById("choice_edit1").value, document.getElementById("choice_edit2").value, document.getElementById("choice_edit3").value].join(",");
    var concatenatedChoices1 = [document.getElementById("secondchoice_edit1").value, document.getElementById("secondchoice_edit2").value, document.getElementById("secondchoice_edit3").value].join(",");
    var formData = new FormData(myForm);
    formData.append("word_choices1", concatenatedChoices)
    formData.append("word_choices2", concatenatedChoices1)
    formData.append("difficultyWord2", document.getElementById("topicWords3").value)
    formData.append("difficultyWord1", document.getElementById("topicWords2").value)
    formData.append("save_changes", "Yes")
			fetch('/dashboard/', {
				method: 'POST',
				body: formData
			}).then(response => response.json())
            .then(data => {
              var jsResponse = data.doneSave;
              if (jsResponse) {
                fetchTopicDetails(topicIdFetch, 2)
              }
            })
      }
  
    function fetchTopicDetails(stringReplace, num) {
      var myForm = document.querySelector('#topic_to_edit'+stringReplace);
      var formData = new FormData(myForm);
      fetch('/dashboard/', {
        method: 'POST',
        body: formData
      }).then(response => response.json())
      .then(data => {
        console.log(data.image)
        var title = document.querySelector('#topicTitle2');
        var title_id = document.querySelector('#topicId');
        var choices_rendered = data.choices
        var choices_rendered1 = data.choices1
        if (choices_rendered != "") {
          for (var i = 1; i < 4; i++) {
            var choice = document.querySelector('#choice_edit'+i)
            choice.value = choices_rendered[i-1]
          }   
        }
        if (choices_rendered1 != "") {
          for (var i = 1; i < 4; i++) {
            var choice = document.querySelector('#secondchoice_edit'+i)
            choice.value = choices_rendered1[i-1]
          }   
        }
        var pictures = document.getElementById("pictures1");
        var wordNumber2 = document.getElementById("wordNumber2")
        var choiceNumber2 = document.getElementById("choiceNumber2")
        if (data.topic === "Synonyms") {
          pictures.style.display = "none";
        }
        else if (data.topic === "Hyponyms") {
          pictures.style.display = "none";
          wordNumber2.style.display = "none";
          choiceNumber2.style.display = "none";
        }
        else{
          pictures.style.display = "flex";
          wordNumber2.style.display = "block";
          choiceNumber2.style.display = "block";
        }

        // const altId = document.querySelector('#alt-id-update');
        var points_per_question = document.querySelector('#points_per_question_edit');
        var difficulties = data.difficulties;
        var image_url = data.image
        var image_url1 = data.image1  
        if (num == 1) {
          for (var i = 0; i < image_url.length; i++) {
              var image = document.getElementById('image'+i);
              image.src = image_url[i]
          }

          for (var i = 0; i < image_url1.length; i++) {
              var j = i + 5;
              var image1 = document.getElementById('image'+j);
              image1.src = image_url1[i]
          }
        }
        var selectWords = document.getElementById('topicWords2');
        var word1Value = document.querySelector('#selectedWord1'); 
        var word2Value = document.querySelector('#selectedWord2'); 

        var selectWords1 = document.getElementById('topicWords3');
        

        var select = document.getElementById("topicDifficulty2");

        
        // Clear all existing options in the select element
        select.innerHTML = '';
        title_id.value = difficulties[0].difficulty_id
        // Loop through the difficulties array and add an option for each difficulty level
        for (var i = 0; i < difficulties.length; i++) {
          var difficultyName = difficulties[i].difficulty_name;
          var capitalizedDifficultyName = difficultyName.charAt(0).toUpperCase() + difficultyName.slice(1);

          var option = document.createElement('option');
          option.value = difficultyName;
          option.text = capitalizedDifficultyName;
          select.appendChild(option);
        }

        points_per_question.value = difficulties[0].points_per_question;
        var words = difficulties[0].words.split(",");
        var words1 = difficulties[0].words1.split(",");

        word1Value.value = words[0].charAt(0).toUpperCase() + words[0].slice(1)
        word2Value.value = words1[0].charAt(0).toUpperCase() + words1[0].slice(1)
            // Loop through the difficulties array and add an option for each difficulty level
        selectWords.innerHTML = '';
        selectWords1.innerHTML = '';
        for (var i = 0; i < words.length; i++) {
          var wordList = words[i]
          var capitalizedWordList = wordList.charAt(0).toUpperCase() + wordList.slice(1);

          var option = document.createElement('option');
          option.value = wordList;
          option.text = capitalizedWordList;

          selectWords.appendChild(option);
        }
        for (var i = 0; i < words1.length; i++) {
          var wordList = words1[i]
          var capitalizedWordList = wordList.charAt(0).toUpperCase() + wordList.slice(1);

          var option = document.createElement('option');
          option.value = wordList;
          option.text = capitalizedWordList;
          selectWords1.appendChild(option);
        }

        select.addEventListener("change", function() {
          var selectedOption = select.options[select.selectedIndex].value;
          title_id.value = difficulties[select.selectedIndex].difficulty_id
          var selectedDifficulty = data.difficulties.find(function(difficulty) {
            return difficulty.difficulty_name === selectedOption;
          });

          if (selectedDifficulty) {
            wordInputContainerMain.remove()
            selectWords.innerHTML = '';
            points_per_question.value = selectedDifficulty.points_per_question;
            words = selectedDifficulty.words.split(",");
            for (var i = 0; i < words.length; i++) {
              var wordList = words[i]
              var capitalizedWordList = wordList.charAt(0).toUpperCase() + wordList.slice(1);

              var option = document.createElement('option');
              option.value = wordList;
              option.text = capitalizedWordList;
              selectWords.appendChild(option);
            }
            selectWords1.innerHTML = '';
            words1 = selectedDifficulty.words1.split(",");
            for (var i = 0; i < words1.length; i++) {
              var wordList = words1[i]
              var capitalizedWordList = wordList.charAt(0).toUpperCase() + wordList.slice(1);

              var option = document.createElement('option');
              option.value = wordList;
              option.text = capitalizedWordList;
          
              selectWords1.appendChild(option);
            }
          }
        });
        selectWords.addEventListener("change", function() {
          var selectedOption = selectWords.options[selectWords.selectedIndex].value;
          var words = data.difficulties[select.selectedIndex].words.split(",");
          var selectedWords = words.includes(selectedOption);
          if (selectedWords) {
            event.preventDefault();
            word1Value.value = selectedOption
            changePicture(selectedOption, selectWords1.options[selectWords.selectedIndex].value, select.options[select.selectedIndex].value, data.topic);
            selectWords1.selectedIndex = selectWords.selectedIndex;
            word2Value.value = selectWords1.options[selectWords1.selectedIndex].value
            document.getElementById("inputField").value = document.getElementById("selectedWord1").value
            document.getElementById("inputField2").value = document.getElementById("selectedWord2").value
          }
        });

        selectWords1.addEventListener("change", function() {
          var selectedOption = selectWords1.options[selectWords1.selectedIndex].value;
          var words = data.difficulties[select.selectedIndex].words1.split(",");
          var selectedWords1 = words.includes(selectedOption);
          if (selectedWords1) {
            event.preventDefault();
            word2Value.value = selectedOption
            changePicture(selectWords.options[selectWords1.selectedIndex].value, selectedOption, select.options[select.selectedIndex].value, data.topic);
            selectWords.selectedIndex = selectWords1.selectedIndex;
            word1Value.value = selectWords.options[selectWords.selectedIndex].value
            document.getElementById("inputField").value = document.getElementById("selectedWord1").value
            document.getElementById("inputField2").value = document.getElementById("selectedWord2").value
          }
        });
        title.value = data.topic
        topicTitleGlobalVar = data.topic
      })
    }
    </script>
</body>
</html>
